{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>

<div class="card">
    <form method="POST" class="secondary">

        <p>Personal Information</p>

        <div class="container">
            <input type="text" id="first-name" name="first_name" placeholder="First Name" required><br>
        </div>
        
        <div class="container">
            <input type="text" id="last-name" name="last_name" placeholder="Last Name" required><br>
        </div>

        <p>Address Information</p>
        
        <div class="container">
            <input type="text" id="street-address" name="street_address" placeholder="Street Address" required><br>
        </div>

        <div class="container"> 
            <input class="hundred" type="text" id="city" name="city" placeholder="City" required><br>

        </div>

        <div class="container">
            <input class="sixty" type="text" id="state" name="state" placeholder="State" required><br>

            <input class="forty" type="text" id="zip-code" name="zip_code" placeholder="Zip Code" required><br>
        </div>
    
        <p>Contact Information</p>
        <div class="container">
            <input class="seventy" type="text" id="email" name="email" placeholder="Email" required><br>

            <input class= "thirty" type="text" id="phone-number" name="phone_number" placeholder="Phone Number" required><br>

        </div>

        <p>Login Settings</p>

        <div class="container">
            <input type="text" id="username" name="username" placeholder="Username" required><br>

        </div>

        <div class="container">
            <input type="password" id="password" name="password" placeholder="Password" required><br>
        </div>

        <div class="actions">
            <button type="submit" class="button-primary">Sign Up</button>
            <a href="/login" class="button-outline">Already have an account? Log In</a>
        </div>
    </form>
</div>
{% endblock %}